include ../mixins/sub-menu.pug

header
    .logo 
        img(src="/img/logo.png", alt="")
    ul.menu 
        li 
            a(href="/") Trang chủ 
        li(class="sub-menu")
        -const pathProduct = "/products"
            a(href=pathProduct) Sản phẩm
            +sub-menu(category, pathProduct)