mixin text-editor
    .editor-container
        .toolbar
          span.bold B
          span.italic I
          span.underline U
          // Thêm các thẻ khác tại đây
        .editor(name="content" contenteditable="true")